#dashboard {
  padding: 30px;
  min-height: calc(100vh - 100px);
  padding-right: 120px;
}
.headline {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #e6e6e6;
}
.headline > h1 {
  display: inline-block;
  margin: 0 0 0 25px;
  font-size: 1.5rem;
  font-weight: 700;
}
.dash_component {
  background-color: white;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
#container3 {
  width: 100%;
  height: calc((100vh - 190px) * 0.3);
  margin-top: 30px;
  display: flex;
}
#weather {
  width: 18%;
  height: 100%;
  margin-right: 30px;
}
#temperature {
  width: 18%;
  height: 100%;
  margin-right: 30px;
}
#militaryDiscipline {
  width: 18%;
  height: 100%;
  margin-right: 30px;
}
#worker {
  width: calc(46% - 90px);
  height: 100%;
}
