header {
  height: 100px;
  width: 100%;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 0 0 15px 15px;
}
#belong {
  display: flex;
  margin-left: 40px;
  flex-grow: 1;
}
#belong_logo {
  height: 60px;
}
.belong_name {
  display: inline-block;
  margin: 0 0 0 20px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 60px;
}
.belong_name > span {
  font-weight: 300;
}

#watch_widget {
  display: flex;
  align-items: center;
}
.vertical_line {
  border-left: solid 1px #cacaca;
  height: 30px;
}
.watch {
  margin-left: 50px;
  margin-right: 50px;
}
.date {
  font-size: 0.9rem;
  color: rgb(161, 161, 161);
}
.time {
  font-size: 2.2rem;
  margin-left: -3px;
  font-weight: 700;
}
.seconds {
  font-size: 1.5rem;
  font-weight: 400;
  display: inline-block;
  margin-left: 3px;
}