.status {
    height: calc(100% - 70px - 40px);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
}
.status_content {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}
.status_content > div:nth-child(1) {
    font-weight: 800;
}
.status_content > div:nth-child(2) {
    font-weight: 500;
    margin-left: auto;
}
.empty_people {
    width: 100%;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    color: grey;
    display: flex;
    align-items: center;
}
.empty_people > div:nth-child(1) {
    font-weight: 600;
}
.empty_people > div:nth-child(2) {
    font-weight: 500;
    margin-left: 5px;
}