#initComponent {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #F5F6FA;
  }
  #logo {
    width: 50%;
    height: 100vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #initContainer {
    width: 50%;
    height: 100vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  
    border-bottom-left-radius: 200px;
  }
  #init_form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .unitIcon {
    display: block;
    background-color: transparent;
    width: 150px;
    height: 150px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-bottom: 40px;
  
    background-size: 150px 150px;
  }
  .initHeader {
    color: #AAAAAA;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0;
  }
  .initBelong {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 16px;
    background-color: #F5F6FA;
    padding: 0 15px;
    color: #2F2F2F;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .initUnitName {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 16px;
    background-color: #F5F6FA;
    padding: 0 15px;
    color: #2F2F2F;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .initSubmitContainer {
    display: flex;
    width: 300px;
    justify-content: flex-end;
  }
  .initSubmit {
    width: 80px;
    height: 40px;
    background-color: #0085FF;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 8px 16px #0085ff;
    
  }
  select.initBelong {
    appearance: none;
    background-image:
      linear-gradient(45deg, transparent 50%, black 50%),
      linear-gradient(135deg, black 50%, transparent 50%);
    background-position:
      calc(100% - 20px) calc(1.2em + 2px),
      calc(100% - 15px) calc(1.2em + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
  }