#sidebar {
  width: 90px;
  height: 70vh;
  position: fixed;
  right: 0;
  top: 20vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border: solid 1px #c5c5c5;

  background-color: #ffffff;
  border-radius: 30px 0 0 30px;

  transition: width 0.2s ease-in-out;
}
#sidebar > a,
#sidebar > div {
  width: 100%;
  flex-basis: 13%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}
#sidebar:hover {
  width: 220px;
  right: 0;
}
#sidebar:hover .sidebar_item {
  justify-content: flex-start;
}
.sidebar_item {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar_item > img {
  margin-left: 20px;
  margin-right: 20px;
  width: 50px;
}
.sidebar_item_name {
  color: #b4b4b4;
  font-size: 0rem;
  font-weight: 600;
  transition: font-size 0s step-start 0.2s;
}
.sidebar_item:hover {
  background-color: #0085ff;
  border-radius: 28px 0 0 28px;
}
.sidebar_item:hover > img {
  filter: brightness(0) invert(1);
}
#sidebar:hover .sidebar_item_name {
  font-size: 1.2rem;
}
#sidebar:not(:hover) .sidebar_item_name {
  font-size: 0rem;
  transition: all 0.1s;
}
.sidebar_item:hover > .sidebar_item_name {
  color: white;
}
