#sidebar {
  width: 90px;
  height: 70vh;
  position: fixed;
  right: 0;
  top: 20vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border: solid 1px #C5C5C5;

  background-color: #FFFFFF;
  border-radius: 30px 0 0 30px;

  transition: width 0.2s ease-in-out;
}
#sidebar > a {
  width: 100%;
  flex-basis: 13%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}
#sidebar:hover {
  width: 220px;
  right: 0;
}
.sidebar_item {
  width: 100%;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar_item > img {
  width: 50px;
}
.sidebar_item_name {
  color: #B4B4B4;
  font-size: 1.2rem;
  font-weight: 600;
}
.sidebar_item:hover {
  background-color: #0085FF;
  border-radius: 28px 0 0 28px;
}
.sidebar_item:hover > img {
  filter: brightness(0) invert(1);;
}
.sidebar_item:hover > .sidebar_item_name {
  color: white;
}
.flexStart {
  justify-content: flex-start;
}
.flexStart > img {
  margin-left: 7%;
}
.flexStart > .sidebar_item_name {
  margin-left: 7%;
  text-align: center;
  width: auto;
}