.worker {
    display: flex;
    justify-content: center;
}
.worker_content {
    display: grid;
    width: 90%;
    height: 75%;
    margin-top: 4%;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    grid-template-rows: 1.4fr 1fr 1fr;
}
.worker_content > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.worker_head {
    font-size: 1.15rem;
    font-weight: 700;
}
.worker_name {
    font-size: 1.5rem;
    font-weight: 700;
}
.worker_time {
    font-size: 0.9rem;
    font-weight: 400;
    color: gray;
}
.greyscale {
    color: gray;
}